<%= render :partial => 'header', :locals => {:comes_from => "index"} %>

<div class="containerLeft">
  <div class="quadtreeRectangle">
    <% unless @quadtrees.size == 1 %>
      <ul id="quadtreeListId" class="quadtreeList">
        <% @quadtrees.each do |tree| %>
          <%= render :partial => 'quadtree_item', :locals => {:tree => tree} %>
        <% end %>
      </ul>
      <%= sortable_element "quadtreeListId", :constraint => 'vertical', 
        :containment => ['quadtreeListId'], :url => {:action => 'tree_sort'}, :handle => 'quadtreeItem' %>
    <% end %>
    
    <div class="manageInstruction">
      <% if @quadtrees.size > 0 %>
        <% if @quadtrees.size > 1 %>
          <%= link_to "Manage groups", manage_url, :class => 'manageInstruction' %>
        <% else %>
          <%= link_to "+ Add new group", manage_url, :class => 'manageInstruction' %>
        <% end %>
      <% else %>
        <%= link_to "+ Create a group", manage_url, :class => 'manageInstruction' %>
      <% end %>
    </div>
  </div>
</div>

<div class="containerRightWrapper">
  <div class="containerRight">
    <div class="quadtree">
      
      <% unless @quadtrees.size > 0 %>
        <div class="selectGroup">
          <br /><br /><br /><br /><br /><br /><br /><br />
          <%= link_to "+ Create a group", manage_url, :class => 'manageInstructionBig' %>
        </div>
      <% else %>
        
      <% ['ImportantUrgent', 'ImportantNotUrgent', 'NotImportantUrgent', 'NotImportantNotUrgent'].each do |quadrant| %>
        <div class=<%="'quadWrapper#{quadrant}'"-%>>
          <div class="quad">
            <div class="quadTextOuter">
              <div class="quadText">
                <% if quadrant == 'ImportantUrgent' %> IMPORTANT / URGENT 
                <% elsif quadrant == 'ImportantNotUrgent' %> IMPORTANT / not urgent
                <% elsif quadrant == 'NotImportantUrgent' %> not important / URGENT
                <% else %> not important / not urgent
                <% end %>
                <div class="quadDelete">
                  <%= link_to_remote(image_tag('trash-light.png', :mouseover => 'trash-hot.png', :border => 0,
                    :title => 'remove checked tasks', :class => 'deleteCan'), :url => { :action => "task_sweep", :quadrant => quadrant }) %>
                </div>
              </div>
            </div>
            <div class="quadSquare" id=<%= "'quad_square#{quadrant}'"-%>>
              <ul id=<%="'createdTasks#{quadrant}'"-%> class="unorderedList" >
                <% if quadrant == 'ImportantUrgent' %>
                  <% @tasks_important_urgent.each do |task| %>
                  <%= render :partial => 'item_task', :locals => {:task => task, :quadrant => quadrant} %><% end %>
                <% elsif quadrant == 'ImportantNotUrgent' %>
                  <% @tasks_important_not_urgent.each do |task| %>
                  <%= render :partial => 'item_task', :locals => {:task => task, :quadrant => quadrant} %><% end %>
                <% elsif quadrant == 'NotImportantUrgent' %>
                  <% @tasks_not_important_urgent.each do |task| %>
                  <%= render :partial => 'item_task', :locals => {:task => task, :quadrant => quadrant} %><% end %>
                <% else %>
                  <% @tasks_not_important_not_urgent.each do |task| %>
                  <%= render :partial => 'item_task', :locals => {:task => task, :quadrant => quadrant} %><% end %>
                <% end %>
              </ul>
              <div id=<%= "'newTaskEditorOuter#{quadrant}'" -%>>
                <%= render :partial => 'new_task_editor', :locals => {:quadrant => quadrant} %>
              </div>
              
              
             
            </div>
          </div>  
        </div>  
      <% end %>
      
      <% ['ImportantUrgent', 'ImportantNotUrgent', 'NotImportantUrgent', 'NotImportantNotUrgent'].each do |q| %>
        <%= sortable_element "createdTasks#{q}", :constraint => false, 
          :containment => ['createdTasksNotImportantUrgent', 'createdTasksImportantUrgent', 'createdTasksImportantNotUrgent',
          'createdTasksNotImportantNotUrgent'], :dropOnEmpty => true,
          :url => {:action => 'task_sort', :quadrant => q}, :handle => 'quadTaskTitle' %>
      <% end %>
      
      <% end %>
    </div>
  </div>
</div>

  
<%= render :partial => 'footer' %>


