<%= render :partial => 'tasks/header', :locals => {:comes_from => 'forgot_password'} %>


<div class="containerLeft"></div>
<div class="containerRightWrapper">
  <div class="containerRight">
    <div class="signup">
      <div class="signupInner">
        <% if flash[:alert] %>
          <center><div class="alert"><%= flash[:alert] %></div></center>
        <% end %>
       <div class="signupInnerLeft">PASSWORD<br /><br />RESET</br /><br /><br />
         <font style="font-size:0.4em">Enter your email address that we have on our file and click send. We will send you a
         password reset link email to your email address.<br /><br /><%= link_to "Cancel my request.", 
         login_url, :class => "loginLink" -%></font>
        </div>
        <div class="signupInnerRight">
          <% form_for :user, :url => {:action => 'forgot_password'} do |form| %>

              <b><label for="user_email" >Email Address</label></b><br/>
              <%= form.text_field :email, :class => 'text' %><br /><br />
              <%= submit_tag 'Send' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


  <%= render :partial => 'footer' %>
